/*
	Map 요소
*/
svg { background-color: rgba(35,35,35);
 }
svg .municipality { fill: rgb(158,202,225); }
svg .municipality:hover { stroke: #333; }
svg .municipality.p0 { fill: rgb(247,251,255); }
svg .municipality.p1 { fill: rgb(222,235,247); }
svg .municipality.p2 { fill: rgb(198,219,239); }
svg .municipality.p3 { fill: rgb(158,202,225); }
svg .municipality.p4 { fill: rgb(107,174,214); }
svg .municipality.p5 { fill: rgb(66,146,198); }
svg .municipality.p6 { fill: rgb(33,113,181); }
svg .municipality.p7 { fill: rgb(8,81,156); }
svg .municipality.p8 { fill: rgb(8,48,107); }
svg text { font-size: 10px; }
svg title { font-size: 10px; color:  }

.region-label {
	display:none;
}

#map {
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
  position: relative;
}

/*
  Legend Style
  : 툴팁 박스
*/

#map .legend {
  position: absolute;
  bottom: 2em;
  right: 2em;
}

#map .legend > svg {
  height: 180px;
  margin-top: 18px;
  width: 150px;
}

#map .legend h4 {
  color: #111;
  margin: 24px 0 -12px 20px;
}

.space {
  position: absolute;
}

.space canvas {
  float: left;
}

.space div {
  position: absolute;
  top: 0;
  left: 20px;
}
		
		
.maplegend {
  background-color: #fff;
  margin-top:40px;
  width: 120px;
  height: 300px;
  float:left;
}